table, th, td{
    border:1px solid black;
    /* Valores de palabras clave */

color: currentcolor;

    
}
.xd{
    /* Valores <named-color> */
color: red;
}
.prueba2{
    /* Valores <hex-color> */
color: #090;
}
.prueba3{
    /* Valores <rgb()> */
color: rgb(34, 12, 64, 0.6);
}
.prueba4{
    /* Valores <hsl()> */
color: hsl(30, 100%, 50%, 0.6);
}
.prueba5{
    /* Valores Globales */
color: inherit;
}
/* La propiedad color esta especificada como un solo un valor de <color> */
